<section>

    <div class="organization-header">

        <p class="sw org-name">
            Organization
        </p>

        <p class="integer org-credits">
            $ <%= number_with_delimiter(4778, delimiter: ',') %>
        </p>

    </div>

    <div class="columns">

        <div class="col1">
        
           <%= render 'profile' %>

        </div>

        <div class="col2">

        </div>

    </div>

</section>

<section>

    <h1>Add a <span style="color: #a00; font-size: 24px;">&#11042;</span> for each time you suck</h1>
    <h1 style="color: #ff0;">&#11042;</h1>
    <h1 style="color: #90d;">&#9830;</h1>
    <h1 style="color: #0a0;">&#9830;</h1>
    <h1 style="color: #0df;">&#9724;</h1>
    <h1 style="color: #000;">&#9724;</h1>
    <h1 style="color: #ff0;">&#11039;</h1>
</section>