<section>

    <div class="organization-header">

        <p class="sw org-name">
            Organization
        </p>

        <p class="integer org-credits">
            $ <%= number_with_delimiter(4778, delimiter: ',') %>
        </p>

    </div>
        
        <%= render 'profile' %>

    </div>

</section>

<section>

</section>