<section>

    <div class="organization-header">

        <p class="sw org-name">
            Organization
        </p>

        <p class="integer org-credits">
            $ <%= number_with_delimiter(4778, delimiter: ',') %>
        </p>

    </div>

    <div class="columns">

        <div class="col1">
        
           <%= render 'profile' %>

        </div>

        <div class="col2">

        </div>

    </div>

</section>