@import 'colors';
@import 'fonts';

.profile {
    padding: 12px;
}

.profile-list {
    padding: 4px;
}

.segmentor {
    margin: 12px 0;
}

.character-name {
    margin: 6px;
    padding-left: 10px;
}

.skill {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    &:hover .skill-name {
        color: $black;
        background-color: $white;
        a {
            color: $black;
        }
    }
    .skill-name {
        text-transform: uppercase;
        padding: 6px;
        padding-left: 16px;
        width: calc(100% - 150px);
        box-sizing: border-box;
    }
}

.level-display {
    display: flex;
    
    .level {
        height: 12px;
        width: 24px;
        border-right: 1px solid $black;
    }

    .level-true {
        background-color: $violet;
    }

    .level-true.level-1 {
        background-color: $red;
    }

    .level-true.level-2 {
        background-color: $orange;
    }

    .level-true.level-3 {
        background-color: $yellow;
    }

    .level-true.level-4 {
        background-color: $green;
    }

    .level-true.level-5 {
        background-color: $teal;
    }

    .level-false.level-1 {
        background-color: $red-clear;
    }

    .level-false.level-2 {
        background-color: $orange-clear;
    }

    .level-false.level-3 {
        background-color: $yellow-clear;
    }

    .level-false.level-4 {
        background-color: $green-clear;
    }

    .level-false.level-5 {
        background-color: $teal-clear;
    }
}

.skills {
    display: flex;
    width: 100%;
}

.attributes {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.attr {
    text-align: center;
    text-transform: uppercase;
    flex: 1 0 33%;
    box-sizing: border-box;
    padding: 6px;
    p {
        padding: 4px;
    }
    .attr-ranks {
        font-size: 1.5em;
    }
}

.character-talent {
    margin: 8px 0;
    border-left: 2px solid $white;
    padding: 6px;
}

.character-talent-name {
    font-size: 0.9em;
    text-transform: uppercase;
}

.character-talent-desc {
    font-size: 0.8em;
    padding: 4px;
}

.character-links {
    padding: 12px;

    li {
        padding: 6px;
        text-transform: uppercase;
        font-size: 0.8em;
        &:hover {
            cursor: pointer;
        }
    }
}