$red: #f00;
$orange: #fa0;
$yellow: #ff0;
$green: #0f0;
$teal: #0ff;
$blue: #0af;
$purple: #a0f;
$violet: #f0f;
$white: #fafafa;
$black: #0f0f0f;

$dark-green: #070;
$dark-red: #700;

$red-clear: rgba(255,0,0,0.1);
$orange-clear: rgba(255,190,0,0.1);
$yellow-clear: rgba(255,255,0,0.1);
$green-clear: rgba(0,255,0,0.1);
$teal-clear: rgba(0,255,255,0.1);
$blue-clear: rgba(0,190,255,0.1);
$purple-clear: rgba(190,0,255,0.1);
$violet-clear: rgba(255,0,255,0.1);