@font-face {
    font-family: 'aurebesh';
    src: font-url('Aurebesh.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$aurebesh: 'aurebesh';
$primary: 'Source Code Pro', monospace;
$secondary: 'Share Tech Mono', monospace;
$highlight: 'Major Mono Display', 'Share Tech Mono', monospace;