@import 'colors';

.tree-title {
    padding: 12px;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
}
.talent {
    height: 200px;
    width: 100%;
    overflow-y: hidden;
    font-size: 12px;
    box-sizing: border-box;
    border: 2px double rgba(94,83,75,0.3);
}

.talent.purchased-true {
    border: 2px double rgba(167,157,150,1);

    .talent-heading {
        border-bottom: 2px solid $white;
        color: $white;
    }

    .talent-heading.active-false {
        background-color: rgba(35, 35, 47, 1);
    }

    .talent-heading.active-true {
        background-color: rgba(89, 19, 19, 1);
    }

    .talent-short-desc {
        background-color: #e6d6c6;
        color: $black;
    }
}

.spec-talent-connected.purchased-true {
    .connect-up-true, .connect-down-true, .connect-left-true, .connect-right-true {
        background-color: #e6d6c6;
    }
}


.talent-heading {
    border-bottom: 1px solid rgba(255,255,255,0.3);
    padding: 6px;
    text-transform: uppercase;
    font-weight: 600;
    color: rgba(255,255,255,0.3);
}

.talent-heading.active-false {
    background-color: rgba(35, 35, 47, 0.3);
}

.talent-heading.active-true {
    background-color: rgba(89, 19, 19, 0.3);
}

.talent-short-desc {
    padding: 6px;
    line-height: 1.2em;
    background-color: rgba(48, 48, 48, 0.3);
    color: rgba(255,255,255,0.3);
    height: 100%;
}

.connect-up-true, .connect-down-true {
    height: 10px;
    width: 5px;
    min-width: 5px;
    background-color: rgba(69,65,62,1);
}

.connect-left-true, .connect-right-true {
    height: 5px;
    width: 10px;
    min-width: 10px;
    background-color: rgba(69,65,62,1);
}

.connect-up-false, .connect-down-false {
    height: 10px;
    width: 5px;
    min-width: 5x;
    background-color: $black;
}

.connect-left-false, .connect-right-false {
    height: 5px;
    width: 10px;
    min-width: 10px;
    background-color: $black;
}

.spec-talent-connected {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    box-sizing: border-box;
}

.specialization {
    display: flex;
    flex-wrap: wrap;
}

.specialization-talent {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

// =========== FORCE POWERS =========== //

.upgrade {
    height: 200px;
    width: 100%;
    overflow-y: hidden;
    font-size: 12px;
    box-sizing: border-box;
    border: 2px double rgba(115,139,90,0.3);
}

.upgrade.purchased-true {
    border: 2px double rgba(115,139,90,1);

    .upgrade-heading {
        border-bottom: 2px solid $white;
        color: $white;
        background-color: rgba(6,43,1,1);
    }

    .upgrade-desc {
        background-color: #e6d6c6;
        color: $black;
    }
}

.upgrade-heading {
    border-bottom: 1px solid rgba(255,255,255,0.3);
    padding: 6px;
    text-transform: uppercase;
    font-weight: 600;
    color: rgba(255,255,255,0.3);
    background-color: rgba(6,43,1,0.3);
}

.upgrade-desc {
    padding: 6px;
    line-height: 1.2em;
    background-color: rgba(48, 48, 48, 0.3);
    color: rgba(255,255,255,0.3);
    height: 100%;
}

.left-link-container, .right-link-container {
    height: 220px;
    display: flex;
    align-items: center;
}

.force-power-upgrade.purchased-true {
    .left-link-container, .right-link-container {
        .connect-left-true, .connect-right-true {
            background-color: rgba(115,138,90,1);
        }
    }
    .upgrade-container {
        .up-link-container, .down-link-container {
            .connection-container {
                .connect-up-true, .connect-down-true {
                    background-color: rgba(115,138,90,1);
                }
            }
        }
    }
}

.row {
    display: flex;
    flex-direction: row;
}

.force-power-upgrade {
    display: flex;
    flex-direction: row;
    .upgrade-container {
        display: flex;
        flex-direction: column;
        &.colspan-4, &.colspan-2, &.colspan-3 {
            .up-link-container, .down-link-container {
                
                .connection-container:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }
        .up-link-container, .down-link-container {
            display: flex;
            flex-direction: row;
            .connection-container {
                display: flex;
                justify-content: center;
                flex: 1;
            }
        }
    }
}

.force-power-upgrade.colspan-1 {
    width: 25%;
}

.force-power-upgrade.colspan-2 {
    width: 50%;
}

.force-power-upgrade.colspan-3 {
    width: 75%;
}